
.DS_Store

UIKit Coordinator Pattern/Quotes.xcodeproj/project.xcworkspace/contents.xcworkspacedata

UIKit Coordinator Pattern/Quotes.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

UIKit Coordinator Pattern/Quotes.xcodeproj/xcuserdata/bart.xcuserdatad/xcschemes/xcschememanagement.plist
