
.DS_Store

UIKit Coordinator Pattern/Quotes.xcodeproj/project.xcworkspace/contents.xcworkspacedata

UIKit Coordinator Pattern/Quotes.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
