
.DS_Store

UIKit Coordinator Pattern/Quotes.xcodeproj/project.xcworkspace/contents.xcworkspacedata

UIKit Coordinator Pattern/Quotes.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

UIKit Coordinator Pattern/Quotes.xcodeproj/xcuserdata/bart.xcuserdatad/xcschemes/xcschememanagement.plist

UIKit Coordinator Pattern/Quotes.xcodeproj/project.xcworkspace/xcuserdata/jheisecke.xcuserdatad/UserInterfaceState.xcuserstate

UIKit Coordinator Pattern/Quotes.xcodeproj/xcuserdata/jheisecke.xcuserdatad/xcschemes/xcschememanagement.plist
